*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.background{
  background-color:#000;
}


.tomato{
  color:tomato;
}

.App {
 display: flex;
 justify-content:center;
 align-items:center;
 height: 100vh;
 flex-direction: column;
}

.App>button{
 padding: 10px;
 border: none;
 background-color: tomato;
 color: #fff;
 border-radius: 5px;
 cursor: pointer;
}


